useDynLib(baselineARPLss, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(plot,arPLSresult)
S3method(summary,arPLSresult)
export(baseline_estimation)
export(new_arPLSresult)
